.main {
  width: 25rem;
  padding: 1.5rem;
  background: #ffffff;
  box-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.3);
  border-radius: 1.19rem;
}

.form__group {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.left {
  width: 6.5rem;
  margin-right: 2rem;
  box-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.09);
  border-radius: 0.5rem;
}

.right {
  width: 10rem;
}

.btns > button {
  background-color: #27ae60;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  border: 0;
  padding: 0.2rem;
  margin: 1rem 2rem;
}

.space button {
  margin: 0.5rem;
}
